.form__group {
  position: relative;
  padding: 1.5rem 0 0;
}

.form__field {
  font-family: inherit;
  min-width: 20rem;
  border: 0;
  border-bottom: 2px solid var(--grey-color);
  outline: 0;
  font-size: 1.3rem;
  padding: 0.7rem 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--grey-color);
}

.form__field:focus {
  ~ .form__label {
    top: 0;
    font-size: 1rem;
    color: var(--main-color);
    font-weight: 700;
  }
  padding-bottom: 6px;
  border-width: 4px;
  border-color: var(--main-color);
  transition: border-color 0.6s;
}

/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
