*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

:root {
  --error-color: #fe4066;
  --main-color: #4663e6;
  --title-color: #2f302f;
  --grey-color: #8c8889;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;

  &::-webkit-scrollbar {
    width: 10px;
    padding: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 1000px;
  }
}
