.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 35%;
    padding: 4rem 3rem;
    box-shadow: 0 1.5rem 4rem rgba(#000000, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__form {
    flex: 1;
  }

  &_nav {
    &:visited,
    &:link {
      margin-top: 2rem;
      text-decoration: none;
      color: var(--main-color);
      align-self: flex-end;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}
