.form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: var(--title-color);
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    flex: 1;
    width: 60%;
    margin: 0 auto;
  }
  &__submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
