.mr-small {
  margin-right: 2rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-meduim {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mt-samll {
  margin-top: 2rem;
}

.mt-meduim {
  margin-top: 4rem;
}
