.btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0.75rem 4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 20rem;
  &__submit {
    color: var(--main-color);
    border: 1px solid var(--main-color);

    &:hover {
      color: white;
      background-color: var(--main-color);
    }
  }

  &__link:link,
  &__link:visited {
    text-decoration: 0;
    float: right;
    border: 0;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  &__reset {
    color: var(--grey-color);
  }
  &__reset:hover {
    color: var(--main-color);
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
  }

  &__delete {
    color: var(--error-color);
    border: 1px solid var(--error-color);

    &:hover {
      color: white;
      background-color: var(--error-color);
    }
  }
}
